
<div class="col-md-4">
<form role="form">

	<h1>User Info</h1>
	
	<div class="form-group">
		<label>E-mail</label> <input class="form-control" type="email" ng-model="user.email">
	</div>
	<div class="form-group">
		<label>Last name</label> <input class="form-control" type="text" ng-model="user.lastName">
	</div>
	<div class="form-group">
		<label>First name</label> <input class="form-control" type="text" ng-model="user.firstName">
	</div>
	<div class="form-group">
		<label>Website</label> <input class="form-control" type="url" ng-model="user.website">
	</div>
	<div class="form-group">
		<label>Description</label><textarea class="form-control" ng-model="user.description"></textarea>
	</div>
	<div class="form-group">
		<label>Password</label> <input class="form-control" type="password" ng-model="user.password" ng-minlength="3" ng-maxlength="10">
	</div>
	<div class="form-group">
		<label>Password (repeat)</label> <input class="form-control" type="password" ng-model="repeatPassword">
	</div> 
	<div class="form-group">
		<label>Roles</label> 
		<label 	class="checkbox"> <input type="checkbox" ng-model="user.admin" ng-true-value="admin" ng-false-value="basic">
			Is Administrator
		</label>
	</div>
	<div class="form-group">
		<label><input type="radio" ng-model="user.sex" value="male"> Male</label>
		<label><input type="radio" ng-model="user.sex" value="female">Female</label>
	</div>
	
	<div class="form-group">
		<label>Gender</label> 
		<select ng-model="user.gender" ng-options="gender.key as gender.label for gender in genderOptions">
			<option value="">--No Option Selected --</option>
		</select>
	</div>
	
	<div class="form-group">
		<label>Countries</label> 
		<select ng-model="user.country" ng-options="key as label for (key, label) in countriesOptions">
			<option value="">--No Option Selected --</option>
		</select>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	<pre ng-bind="user | json"></pre>

</form>
</div>